
.weather {
    border-radius: 6px;
    /* box-shadow: 10px -2px 20px 2px rgba(44, 95, 162, 0.17); */
    color: #24440d;
    margin: 20px auto 0 auto;
    padding: 40px 40px 40px 40px;
    /* background-color: rgba(10, 67, 37, 0.367); */

    /* background-image: url(../../assets/subway.png); */
    /* background-color: #f9fff24e; */
    background-color: rgba(213, 221, 206, 0.436);
    height: 280px;
    width: 579px;
    border-radius: 20px;
    box-shadow: 10px -2px 20px 2px rgba(86, 92, 87, 0.17);
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
    font-family: 'typewriter';
  }
  
  .top,
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .city {
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
  
  .weather-description {
    font-weight: 400;
    font-size: 25px;
    line-height: 1;
    margin: 0;
  }
  
  .weather-icon {
    width: 100px;
  }
  
  .temperature {
    font-weight: 600;
    font-size: 75px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
    font-family: 'numbers';
  }
  
  .details {
    width: 100%;
    padding-left: 60px;
  }
  
  .parameter-row {
    display: flex;
    justify-content: space-between;
  }
  
  .parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    margin-left: 130px;
  }
  
  .parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 15px;
    font-weight: 100;
  }
  
  .parameter-label.top {
    border-bottom: 1px solid #fff;
  }