:root {
  background-image: url(/assets/monet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.container{
  color: #24440d;
  font-family: 'TitleFont';
  padding: 10px;
}
.weather{
  position: absolute;
  top: 57vh;
  left: 35vw;
}

.clock-container{
  position: absolute;
  top: 5vh;
  left: 32.2vw;
  width: 34.45vw;
}

.search{
  position: absolute;
  top: 5vh;
  width: 26vw;
  left: 6vw;
}

.no-weather{
  position: absolute;
  top: 60vh;
  left: 35vw;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  height: 200px;
  line-height: 200px;
  display: flex;
  justify-content: center;
  width: 400px;
}

@font-face {
  font-family: TitleFont;
  src: url(../src/assets/type.otf);
}
@font-face {
  font-family: numbers;
  src: url(/assets/numberfont2.ttf);
}
@font-face {
  font-family: typewriter;
  src: url(../src/assets/type.otf);
}

.img-container{
  width: 26vw;
  height: 550px;
  position: relative;
  left: 00px;
  overflow: hidden;
  box-shadow: 10px -2px 20px 2px rgba(86, 92, 87, 0.17);
  position: absolute;
  top: 16vh;
  left: 6vw;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.spotify{
  position: absolute;
  top: 34vh;
  left: 35vw;
}
.pomodoro-container{
  position: absolute;
  top: 5vh;
  left: 68vw;
}

.todo-container{
  position: absolute;
  top: 39vh;
  left: 68vw;
}